$green1: #7e960d
$green1-l: #b8ce48
.license
	& > p
		+r(767)
			text-align: center
	.h1
		margin-bottom: 25px
	.license__list
		font-size: 0
		margin-left: -3%
		+r(900)
			margin-left: -3.3%
		+r(600)
			margin-left: -5%
		+r(360)
			margin-left: 0
			padding: 0 20px 
	.license__item
		display: inline-block
		vertical-align: top
		width: 22%
		margin: 25px 0 0 3%
		+r(900)
			width: 30%
			margin-left: 3.3%
		+r(600)
			width: 45%
			margin-left: 5% 
		+r(360)
			width: 100%
			margin-left: 0	
		a
			display: block
			text-decoration: none
			&:hover
				span
					color: $green1
					border-color: transparent
				.license__img
					&:before
						opacity: 1
			.license__img	
				position: relative
				margin-bottom: 10px
				border-radius: 3px	
				&:before
					content: ""
					position: absolute
					top: 0
					bottom: 0
					right: 0
					left: 0
					border-radius: 3px
					border: 3px solid $green1
					opacity: 0  
					+tr(opacity 300ms)
				img
					display: block
					width: 100%
					height: auto
					border-radius: 3px
			span
				display: inline
				font-size: 15px
				color: $dark
				line-height: 1.2
				border-bottom: 1px dotted
				+transition(color 300ms, border-color 300ms)
				
.pagination
	text-align: center
	font-size: 0
	margin-top: 30px 
	ul
		display: inline-block
		border: 1px solid $green1
		li
			display: inline-block		
			border-left: 1px solid $green1
			&:first-child
				border-left: none
			a
				display: block
				width: 47px
				height: 38px
				line-height: 38px
				font-size: 15px
				+semibold
				color: $dark
				text-decoration: none
				background: $green1-l			
				+tr(color 300ms)
				&:hover, &.is-active
					color: #fff	
				&.is-active
					background: $green1
.content
	padding-bottom: 65px 
	
.news
	+r(480)
		padding: 0 22px
	.h1
		+r(767)
			text-align: center			  	
	.h2
		text-align: center
	.news__item
		a
			display: block
			text-decoration: none
			p
				margin-bottom: 0
				+tr(color 200ms)
				color: $green1
				line-height: 1.5
				font-size: 17px
			&:hover
				p
					color: $green1-l
			.date
				margin-bottom: 0				
	.news__img
		margin-bottom: 18px
		width: 100%
		img
			display: block
			width: 100%
			height: auto
	.date
		margin-bottom: 39px
		+r(767)
			text-align: center
		+r(480)
			text-align: left			
	.news__all
		text-align: center	
.icon-timing
	display: inline-block
	+s(timing)

// doctors
		
.doctor
	.article
		h3
			margin-top: 15px
			margin-bottom: 20px
	.doctor__topper
		+clr
		padding-left: 2px
		+r(568)
			text-align: center
	.doctor__img
		width: 212px
		float: left
		margin-right: 29px
		margin-bottom: 30px
		font-size: 0
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12)
		img
			display: block
			width: 100%
			max-width: 212px
			height: auto
		+r(767)
			margin-bottom: 10px	
		+r(568)
			float: none
			margin-right: 0
			display: inline-block
			text-align: center
			margin-bottom: 20px	 
	.doctor__about
		overflow: hidden
		p
			font-size: 17px
			color: $dark
		+r(767)
			p
				margin-bottom: 10px 	
		+r(568)
			overflow: visible
			display: block	
	.doctor__spec
		border: 1px solid #cecece
		padding: 16px 0
		border-width: 1px 0
		margin-bottom: 30px
		font-size: 17px
		strong
			font-size: 19px
			+semibold
		+r(768)
			margin-bottom: 25px	
	.doctor__education
		+pfdin
		.h3
			+r(767)
				margin-bottom: 10px 
		p
			margin: 10px 0
	.article
		+r(568)
			ul
				text-align: center
				li
					padding-left: 0
					margin-bottom: 10px
					&:before
						display: none			
						
.nonres
	display: table
	width: 100%
	border-collapse: collapse
	table-layout: fixed
	background: #ceeec2 
	border: 1px solid #b7c380 
	+r(600)
		display: block
		text-align: center
	.nonres__img
		display: table-cell
		vertical-align: middle
		width: 210px 
		text-align: center
		font-size: 0
		img
			max-width: 90%
		+r(900)
			width: 150px
		+r(600)
			display: block
			width: 100% 
			padding-top: 20px		
	.nonres__content
		display: table-cell
		vertical-align: top
		padding: 23px 32px 65px 0
		.h2
			margin-bottom: 14px
		+r(600)
			display: block
			padding: 20px 	
	.nonres__list
		font-size: 0
		li
			position: relative
			display: inline-block
			vertical-align: top
			width: 42%
			margin-bottom: 5px
			padding-left: 28px
			&:before
				content: ""
				position: absolute
				top: 10px
				left: 0
				width: 13px
				height: 1px
				background: #222 
			a
				font-size: 15px
				color: #222
				letter-spacing: 0.5px
				&:hover
					text-decoration: none
			+r(768)
				width: 100%
				padding-left: 0
				margin-bottom: 8px
				&:before
					display: none
				a
					font-size: 17px	 		 
.block
	margin-bottom: 35px 
	+r(768)
		margin-bottom: 25px
	+r(568)
		margin-bottom: 15px						