// fonts 
+font(ProximaNova-Regular, ProximaNova-Regular)  
=proximanova
	font-family: "ProximaNova-Regular", Arial, sans-serif
	font-style: normal
	font-weight: normal
+font(MarkSimonsonProximaNovaSemibold, MarkSimonsonProximaNovaSemibold)  
=semibold
	font-family: "MarkSimonsonProximaNovaSemibold", Arial, sans-serif
	font-style: normal
	font-weight: normal
+font(MarkSimonsonProximaNovaLight, MarkSimonsonProximaNovaLight)  
=light
	font-family: "MarkSimonsonProximaNovaLight", Arial, sans-serif 
	font-style: normal
	font-weight: normal	

// vars
$dark: #222
$orange: #f6ad44

body
	+proximanova
	font-size: 17px 
	line-height: 1.4
	color: $dark
	background: #eaeaea 
// mixins
=justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 17px

// common blocks      
.out
	max-width: 1158px
	margin: 0 auto
	background: #fff
.clr
	+clr	 
h1, .h1
	font-size: 32px
	+light	
.btn
	position: relative
	display: inline-block
	padding: 0 20px
	height: 40px
	line-height: 40px
	background: $orange
	color: $dark
	font-size: 14px
	+semibold
	border-bottom: 3px solid #c38222
	text-decoration: none
	text-transform: uppercase
	+transition(transform 200ms, border-width 200ms)   	
	&:hover
		+transform(translateY(1px))
		border-width: 2px
	&:active
		+transform(translateY(3px))
		border-width: 0	










































































































